@import "ovcss.scss";
/* ==========================================================================
 Main style of your project  :
 ========================================================================== */
// All your CSS awesomeness here

body {
  background: $ct;
  color: $w;
}
pre,
code{
  background: $ct;
  color: $y;
  text-shadow: 0 1px 0 darken($y, 18%);
  border: 1px solid darken($ct, 18%);
  padding-bottom: .3em;
  padding-left: .4em;
  padding-right: .4em;
}
pre {
    background: darken($ct, 18%);
    border: 1px solid darken($ct, 24%);

 code{
  border: 0;
  text-shadow: 0 0 0;
    background: transparent;
}

}

p{
  font-size: 1.2em;
}

/* Jumbotron
-----------------------------------------------------------------------*/
.jumbotron{
  height: 220px;
  @include full-background(darken($p, 10%),"");
  background-attachment: fixed;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 0;


  h1{

    font-size: 4em;
    vertical-align: middle;
    margin-top: 0em;
    @include shadow-text-br(darken($p, 10%), darken(rgba($ct, .8), 20%));


  }
  h3{
    vertical-align: middle;
    padding-top: 0;
    margin-top: -.8em;
  }

  .btn.call-to-action{
    margin:5em auto;
    width: 310px;
    @include font-family(#{$font-name}-bold, $font-fallback, sans-serif);
    font-size: 1em;
  }

  // Anchor down
  .anchor-down{
    color: $white;
    font-size: 2.2em;
    @include square(1.8em);
    background: rgba(255,255,255,.2);
    padding: .4em .6em;
    border-radius: 100%;
    position: relative;
    z-index: 1;

    span{
      padding-top: .4em;
    }
  }
}


/* Container
------------------------------------------------------------------*/

.container{
    @include header-weight(bold);

  .col-md-12{

    section{
      @include transition(box-shadow .15s ease);
      min-height: 100px;
      float: left;
      height: auto;
      width: 100%;
      background: darken($p, 10%);
      margin-top: 4em;
      padding: .5em;
      padding-bottom: 2em;
      padding-left: 2.2em;
      @include border-right-radius(12px);
      box-shadow: inset 1em 0 0 darken($y, 16%);

      &:hover{
        box-shadow: inset 1em 0 0 lighten($y, 3%);
      }
    }

    .nav-pills{
      &.pills-list{
        li{
          margin-bottom: .5em;
        }
      }
    }

/* Summary tab
-----------------------------------------------------------------------------*/
    &.summary{
        ul {
        counter-reset: counterbase;
        li{
          list-style: none;

          &:before{
            content: counter(counterbase) ' > ';
            counter-increment: counterbase;
            font-size: 1.4em;
            font-weight: bold;
            line-height: 0.1;
          }
          &:first-child{
            &:before{
             content: counter(counterbase) '  > ';
            }
          }
          a{
            color: $y;
            font-size: 1.3em;
            line-height: 0;
          }
          &:hover{
            &:before{
              color: $y;
            }
            a{
              color:lighten($y, 3%);
              font-weight: bold;
              text-decoration: none;
            }
          }
        }
      }
    }

  section {
    article > section{
      @extend .inset;
      border-radius: 8px;
      background: darken($p, 15%);
      width: calc(100% - 1.4em);
      p{
        margin-top: 2em;
        padding-right: 1em;
      }
    }//\ Section
    ul{
        li{
          list-style: none;
          section{
            background: darken($p, 15%);
            width: calc(100% - 1.4em);
            h2{
              font-size: 1.4em;
              color: $y;
            }
          }
        }
      }
    }
/* Variables
-----------------------------------------------------------------------------*/
    &.variables{


    }

    &.download{
      section{
        padding-top: 2em;
      }
      a{
      line-height: 92px;
      border: none;
      color: darken($p, 25%);
      font-weight: bold;
      font-size: 2.4em;
      display: block;
      float: left;
      width: 100%;
      height: 100px;
      box-shadow: inset 0 0 0 .1em darken($p, 20%);

        &:hover{
            box-shadow: inset 0 0 0 .1em $y;
            color: $y;
            text-decoration: none;
            background:transparent;
                  }
      }
    }




    &:last-child{

      section{
        margin-bottom: 4em;
      }
    }
  }


  .col-md-6{
    box-shadow: inset 0 0 0 .3em darken($p, 16%);
    padding: 0;
    text-align: center;
    height: 100px;
    border-radius: 6px;
    width: 48%;
    margin-right: 2%;
    a{
      line-height: 100px;
      color: darken($p, 25%);
      font-weight: bold;
      font-size: 2.4em;
      display: block;
      float: left;
      width: 100%;
      height: 100%;
    }

    &:hover{
      box-shadow: inset 0 0 0 .3em $y;
      a{
        color: $y;
        text-decoration: none;
      }
    }
  }
}


/* Footer
--------------------------------------------------------------------*/
.footer{
   @include full-background(darken($p, 10%),"");
  background-attachment: fixed;
  text-align: center;
  position: relative;
  z-index: 1;
  height: 80px;
  bottom: -1em;
  width: 100%;
  float: left;

  p{
    line-height: 80px;
  }
}
