/*
 OVCSS Variables :
------------------------------------------------------------------------------------------------------*/
$root: '../';

$path-css: $root + 'css/';
$path-js: $root + 'js/';
$path-fonts: $root + 'fonts/';
$path-img: $root + 'images/';

$path-icons: $path-img + 'My_png_iconset/';

/* font var
-------------------------------------------------------------------*/

$font-name: "ProximaNova";
$font-fallback: "Helvetica";

$font-directory: $path-fonts + $font-name + "/";



